.DS_Store
/vendor
/public/wp
/public/content/plugins/*
/public/content/mu-plugins/*
/public/content/languages/*
/public/content/themes/**/node_modules
/public/content/themes/twentyfifteen/

!/public/content/plugins/index.php
!/public/content/mu-plugins/index.php
!/public/content/mu-plugins/bedrock-autoloader.php
!/public/content/themes/index.php

### Intellij ###
.idea

## File-based project format:
*.iws
/.env
/var

## wp-cli
/wp-cli.phar
